.cont-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.cont-header {
  background-color: aquamarine;
  height: 100px;
}

.cont-main {
  background-color: bisque;
  flex: 1;
}

